body{
    background-image: url("images/bg-pattern-top.svg");
    background-image: url("images/bg-pattern-bottom.svg");
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
        color: hsl(229, 23%, 23%);
        background-color: hsl(185, 75%, 39%);


margin: 0;
}

.card{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 10px 10px 20px;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

#main-img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 400px;
}

#man-img{
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    border: 5px solid white;
    padding-bottom: 0%;
    
}
.info{
    margin-top: -50px;
}

#age{
    color:  hsl(227, 10%, 46%);
}
#grey{
    color:  hsl(227, 10%, 46%);
}

.content{
    display: flex;
    justify-content: space-around;
    
}

.content h1{
    margin-bottom: -4px;
   
    margin-top: 35px;
}

.attribution{
    text-align: center;
    margin-top: 40px;
}
